name: compile

on:
  push:
    paths:
      - 'src/**'
      - '.github/workflows/compile.yml'

  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - '.github/workflows/compile.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 15.x
    - name: compile
      run: |
        npm ci
        npm run build --if-present
